name: Deploy
on:
  push:
    tags:
      - "*"
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: WordPress Plugin Deploy
        uses: rtCamp/action-wordpress-org-plugin-deploy@master
        env:
          EXCLUDE_LIST: .gitignore .distignore README.md phpcs.xml assets/package-lock.json composer.json composer.lock
          SLUG: trust-txt
          WORDPRESS_PASSWORD: ${{ secrets.WORDPRESS_PASSWORD }}
          WORDPRESS_USERNAME: ${{ secrets.WORDPRESS_USERNAME }}
          ASSETS_DIR : .wordpress-org